doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 微信网页授权demo
    script.
      var gotobaseinfo = function(){
      window.location.href = '/baseinfo';
      }
  body
    h1 欢迎页
    button(onclick='gotobaseinfo()') 点击获取微信详细信息
